.contact__container {
  display: flex;
  flex-direction: column;
  align-items: center; }

.forms {
  justify-content: center; }
  .forms label {
    color: #ddd; }
  .forms ::placeholder {
    color: #ccc !important; }
  .forms :nth-child(1) {
    border-color: rgba(255, 0, 102, 0.43) !important;
    color: #ddd !important; }
