nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end; }

ul {
  display: flex;
  word-spacing: 1rem;
  align-content: flex-end; }

li {
  list-style: none;
  font-size: 150%;
  margin-left: 1rem;
  margin-right: 1rem; }

.link {
  text-decoration: none;
  color: #99D2E3;
  text-transform: uppercase; }

@media screen and (max-width: 690px) {
  nav {
    display: none; } }
