ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  word-spacing: 1rem; }

li {
  list-style: none;
  font-size: 150%;
  margin-left: 1rem; }

.link {
  text-decoration: none;
  color: #99D2E3;
  text-transform: uppercase; }

@media screen and (max-width: 690px) {
  ul {
    display: none; } }
