.start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 100vh; }

.title {
  position: absolute;
  align-content: center;
  text-align: center;
  font-size: 150%;
  padding: 5%;
  vertical-align: middle; }

h1, h2 {
  font-weight: 100; }

.title-sec {
  color: #FF0066; }

.btn .fas {
  transition: transform 2s;
  margin-left: 0.8rem; }

.btn:hover .fas {
  transform: rotateZ(90deg); }
