$fonts: #ddd;

.contact__container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forms{
    justify-content: center;
    min-width: 50vw;
    input[type=text]{
        color: $fonts;
        &:focus,
        &:active{
            background: #46515c81;
        }
        
    }
    input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: $fonts;
  -webkit-box-shadow: 0 0 0px 1000px #55647481 inset;
  transition: background-color 5000s ease-in-out 0s;
}
    label{
    color: $fonts;
    }
    ::placeholder{
        color: #ccc !important;
    }
    :nth-child(1){
        border-color: rgba(255, 0, 102, 0.43) !important;
        color: $fonts !important;
    }
}
