.contact__container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.forms{
    justify-content: center;
    label{
    color: #eeeeee;}
}
fieldset{
    border-color: none !important
}
