.portfolio_container{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
}

.portfolio_list{
    display: flex;
    flex-direction: row;
    padding:0;
    justify-content: center;
    margin:5px;
    flex-wrap: wrap;
    .item{
        padding:10%;
    }
}

.header{
    font-size: 150%;
}
@media screen and (max-width: 720px){
    .portfolio_container{
        margin-top: 100px;
    }
    .header{
        font-size: 100%;
    }
}
@media screen and(max-width: 360px){
    .portfolio_card, .back{
        width: 310px !important;
    }
}
.portfolio_item{
    position: relative;
}
.portfolio_card{
    opacity: 1;
    transition: .5s ease;
    display: flex;
    backface-visibility: hidden;
}
.back{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    justify-content: center;
    .btn{background: none !important;
    a{
        text-decoration: none;
        color: black;
    }}
    .fas{
    font-size:400%;}
}
.portfolio_item:hover .portfolio_card  {
   opacity: 0.5; }

.portfolio_item:hover .back{
    opacity: 0.8;
   }
