$pink: #FF0066;
$blue: #99D2E3;
$light: #E6DBDF; 
.start{
    display: flex;
    flex-direction: column;
    justify-content: center;   
    max-height: 100vh;
}
.title{
    position: absolute;
    align-content: center;
    text-align: center;
    font-size: 150%;
    padding: 5%;
    vertical-align: middle;
}
h1, h2{
    
    font-weight: 100;
}
.title-sec{
    color: $pink;
}
.btn{
    .fas{
    transition: transform 2s;
    margin-left: 0.8rem;}
    &:hover{
    .fas{
    transform: rotateZ(90deg)};
    
}}